<div class="login-content" data-ng-controller="loginCtrl" >
    <!-- Login -->
    <div class="lc-block" id="l-login" data-ng-class="{ 'toggled': login === 1 }" data-ng-controller="resetPassCtrl">

        <img class="logo text-center" src="img/logos/acadslogo.png">


        <form ng-submit="forgotPassForm.$valid && resetpassword()" class="forgotPassForm" name="forgotPassForm" novalidate>
           <div class="col-xs-12 padding0 text-right">
                <a href="prm360.html#/login" tooltip-placement="top" uib-tooltip="Login" class="registerations">Log In</a>
            </div>
            <!-- <a href="prm360.html#/login" tooltip-placement="top" uib-tooltip="Login" class="registerations">Log In</a> -->

            <!--div class="input-group">
                <span class="input-group-addon"></span>
                <div class="form-group fg-float">
                    <div class="fg-line input-field">
                        <i class="mdi-social-person-outline prefix"></i>
                        <!-- <input ng-model="user.username" name="username" type="text" class="form-control logininput" id="exampleInputEmail1"
                        ng-change="change()" required /> -->
                        <!--input ng-model="resetpass.OTP" id="OTP" name="OTP" type="text" class="form-control fg-input" required>
                    <label class="fg-label" for="OTP">OTP</label>
                       <!--  <label class="fg-label" for="OTP">Email/Phone No.</label> -->
                    <!--/div>
                    <div ng-show="forgotPassForm.$submitted || forgotPassForm.OTP.$touched">
                        <div class="help-block error logininput" ng-show="forgotPassForm.OTP.$error.required">Please enter OTP</div>
                    </div>
                </div>
            </div-->


            

            <div class="input-group">
                <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                <div class="form-group fg-float">
                    <div class="fg-line input-field">
                        <i class="mdi-social-person-outline prefix"></i>
                        <!-- <input ng-model="user.username" name="username" type="text" class="form-control logininput" id="exampleInputEmail1"
                        ng-change="change()" required /> -->
                        <input ng-model="resetpass.NewPass" id="NewPass" name="NewPass" type="Password" class="form-control fg-input" ng-minlength="6" required>
                    <label class="fg-label" for="NewPass">New Password</label>
                       <!--  <label class="fg-label" for="OTP">Email/Phone No.</label> -->
                    </div>
                    <div ng-show="forgotPassForm.$submitted || forgotPassForm.NewPass.$touched">
                        <div class="help-block error logininput" ng-show="forgotPassForm.NewPass.$error.required">Please enter New Password</div>
                        <div class="help-block error logininput" ng-show="forgotPassForm.NewPass.$error.minlength">Password must be at least 6 characters.</div>
                    </div>
                </div>
            </div>



            <div class="input-group">
                <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                <div class="form-group fg-float">
                    <div class="fg-line input-field">
                        <i class="mdi-social-person-outline prefix"></i>
                        <!-- <input ng-model="user.username" name="username" type="text" class="form-control logininput" id="exampleInputEmail1"
                        ng-change="change()" required /> -->
                        <input ng-model="resetpass.ConfNewPass" id="ConfNewPass" name="ConfNewPass" type="Password" class="form-control fg-input" pw-check="NewPass" required>
                    <label class="fg-label" for="ConfNewPass">Confirm New Password</label>
                       <!--  <label class="fg-label" for="OTP">Email/Phone No.</label> -->
                    </div>
                    <div ng-show="forgotPassForm.$submitted || forgotPassForm.ConfNewPass.$touched">
                        <div class="help-block error logininput" ng-show="forgotPassForm.ConfNewPass.$error.required">Please enter New Password</div>
                        <div class="help-block error logininput" ng-show="!forgotPassForm.ConfNewPass.$error.required && forgotPassForm.ConfNewPass.$error.pwmatch">Passwords don't match.</div>
                    </div>
                </div>
            </div>


          

            <div class="clearfix">
                <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
            </div>
        </form>
        <div class="col-xs-12 text-center registrationDiv">
            <div class="col-xs-2 text-center">
            </div>
        </div>
    </div>
</div>